<div class="container-fluid">
  <div class="row-fluid">
          <div class="span12">
            <!-- BEGIN STYLE CUSTOMIZER-->
            
            <!-- END STYLE CUSTOMIZER-->    
            <!-- BEGIN PAGE TITLE & BREADCRUMB-->   
            <h3 class="page-title">
            	Motor Tipini Sil
              
            </h3>
            
            <!-- END PAGE TITLE & BREADCRUMB-->
          </div>
        </div>
	<div id="page" class="dashboard">
    <div class="row-fluid">
     	<div class="span12">
     		<div class="widget">
            <div class="widget-title">
               <h4><i class="icon-reorder"></i></h4>
               <span class="tools">
               
               </span>							
            </div>
            <div class="widget-body form">
               <!-- BEGIN FORM-->
               <%= simple_form_for @make_type, url: admin_make_type_path(@make_type.id), :method => :DELETE, class: "form-horizontal" do |f| %>
               		


               		<h2>Silmek istediğiniz model: <%= @make_type.make_type_name %></h2>
               		<h3>Emin misiniz?</h3>
               		<div class="form-actions">
									  <%= button_tag(type: 'submit', class: "btn btn-primary") do %>
									     Sil
									  <% end %>
									  <%= link_to "Geri Dön", { action: "index" }, :class => "btn btn-warning" %>
									   <!-- <button type="button" class="btn">Cancel</button> -->
									</div>
               <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>